In [2]:
import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/FutureSharks/financial-data/master/pyfinancialdata/data/stocks/histdata/SPXUSD/DAT_ASCII_SPXUSD_M1_2018.csv"
c=pd.read_csv(url)
c.head()

  20180101 163000;2668.000000;2668.000000;2668.000000;2668.000000;0
0  20180101 180000;2675.000000;2676.750000;2674.5...
1  20180101 180100;2676.750000;2677.750000;2676.7...
2  20180101 180200;2677.500000;2678.500000;2677.5...
3  20180101 180300;2678.250000;2678.250000;2678.0...
4  20180101 180400;2678.130000;2678.250000;2678.0...

In [3]:
url="https://raw.githubusercontent.com/FutureSharks/financial-data/master/pyfinancialdata/data/stocks/histdata/SPXUSD/DAT_ASCII_SPXUSD_M1_2017.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))